{% extends "registration/account_base.html" %} {% block title%}Password Reset{% endblock %} {% block content %}
<h5>Currently, this does nothing... sorry, bro.
    </h3>
    <!-- <form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p> 
    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
</form> -->
    <a href="{% url 'login' %}">
        <button type="button">back to login</button>
    </a>
    <a href="{% url 'main-index' %}">
        <button type="button">home</button>
    </a>
    {% endblock %}