{% extends 'base.html' %} 
{% load static %} 
{% block title %}Welcome Home{% endblock %} 

{% block pageCss%}
<link rel="stylesheet" href="{% static 'welcome/css/main.css' %}"> 
{% endblock %} 

{% block content %}
<div id="root" 
     data-jumbo-src="{% static 'media/city1.jpg' %}"
     data-home-url={{home}}
     data-login-url={{login}}
     data-logout-url={{logout}}></div>
{% endblock %}

    
{% block scripts %} 
<script type="text/javascript" src="{% static 'welcome/js/main.js' %}"></script>
{% endblock %}