{% load static %}

<head>

    <link rel="stylesheet" href="{% static 'shared/css/base.css' %}"> 
    
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    
    {% block pageCss%}{% endblock %}
    <title>
        {% block title%}{% endblock %}
    </title>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>



    {% block content %} {% endblock %}
    {% if debug %}
    <div class="login-tool">
        <p>{{ user }}</p>
        <p>logged in: {{ user.is_authenticated }}</p>
    </div>
    {% endif %}
    {% block scripts %} {% endblock %}
</body>